page-home {
  ::-webkit-scrollbar {
    display: none;
  }

  .padding-top {
    padding-top: 32px !important;
  }

  .package-container {
    margin: 32px 0 16px 0;
  }


  .btn-left {
    left: 1vw;
    top: 50%;
    transform: translate(0, -50%);
  }

  .btn-right {
    right: 1vw;
    top: 50%;
    transform: translate(0, -50%);
  }
}
