<!-- Generated template for the TomatoPackageComponent component -->
<div>
  <div class="tomato-package">
    <ion-grid no-padding class="a1-relative" lg>
      <ion-row align-items-start class="a1-relative">
        <ion-col col-12 col-sm-4 col-md-4 offset-md-2 class="a1-relative padding-top xs-show-block sm-hidden md-hidden lg-hidden xl-hidden">

          <div class="a1-absolute xs-show-block sm-hidden md-hidden lg-hidden xl-hidden tomato-bg-mobile"></div>

          <div text-center>
            <div class="a1-relative">
              <div class="vt-4g-package-name violet-color xs-white-color">
                <span>{{mTomatoPackages.name}}</span>
              </div>

              <div class="a1-absolute btn-right xs-hidden sm-hidden ">
                <button ion-button outline class="btn-info violet xs-white" (click)="onClickInfo(1)">Thông tin</button>
              </div>
            </div>

            <div class="vt-4g-package-title xs-white-color a1-relative">
              <span>{{mTomatoPackages.title}}</span>
            </div>

            <div class="xs-show-block sm-hidden md-hidden lg-hidden xl-hidden xs-margin-top">
              <button ion-button outline class="btn-info violet xs-white" (click)="onClickInfo(1)">Thông tin</button>
            </div>

            <div class="package-container">
              <viettel-package [mViettelPackage]="mTomatoPackages.items[0]" [color]="'violet-color'"></viettel-package>
            </div>

            <div text-center margin-top margin-bottom>
              <button ion-button outline class="btn-info violet xs-white" (click)="onClickAll(1)">Xem tất cả</button>
            </div>
          </div>
        </ion-col>

        <ion-col col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-1 class="a1-relative padding-top xs-hidden">

          <div text-center>
            <div class="a1-relative">
              <div class="vt-4g-package-name violet-color">
                <span>{{mTomatoPackages.name}}</span>
              </div>

              <div class="a1-absolute btn-left xs-hidden sm-hidden">
                <button ion-button outline class="btn-info violet" (click)="onClickInfo(2)">Thông tin</button>
              </div>
            </div>

            <div class="vt-4g-package-title a1-relative">
              <span>{{mTomatoPackages.title}}</span>
            </div>

            <div class="xs-show-block sm-hidden md-hidden lg-hidden xl-hidden xs-margin-top">
              <button ion-button outline class="btn-info violet" (click)="onClickInfo(2)"> Thông tin</button>
            </div>

            <div class="package-container">
              <ion-row align-items-start nowrap id="sixtyPackageID" (swipe)="onSwipe($event)">
                <ion-col col-12 col-sm-6 col-md-6>
                  <viettel-package [mViettelPackage]="mTomatoPackages.items[0]" [nodata]="true" [color]="'violet-color'"></viettel-package>
                </ion-col>
                <ion-col col-12 col-sm-6 col-md-6>
                  <viettel-package [mViettelPackage]="mTomatoPackages.items[1]" [nodata]="true" [color]="'violet-color'"></viettel-package>
                </ion-col>
              </ion-row>
            </div>

            <div class="tab-container sm-hidden md-hidden lg-hidden xl-hidden xs-show-flex">
              <div class="tab-item" *ngFor="let tab of mSixtyPackageTabs" tappable (click)="onClickTab(tab)">
                <div class="mtab" [class.selected]="tab == mSixtyTabIDSelected"></div>
              </div>
            </div>

            <div text-center margin-top margin-bottom>
              <button ion-button outline class="btn-info violet" (click)="onClickAll(2)">Xem tất cả</button>
            </div>
          </div>
        </ion-col>
        <!-- ======== -->
        <div class="a1-absolute img-girl xs-hidden sm-hidden">
          <img src="./assets/imgs/viettel-4g-person3.png" alt="Viettel-4G">
        </div>
        <!-- ========= -->
        <!-- <ion-col col-12 col-sm-4 col-md-4 offset-md-2 class="a1-relative padding-top xs-hidden sm-show-block lg-show-block md-show-block lg-show-block">

          <div class="a1-absolute xs-show-block sm-hidden md-hidden lg-hidden xl-hidden tomato-bg-mobile"></div>

          <div text-center>
            <div class="a1-relative">
              <div class="vt-4g-package-name violet-color xs-white-color">
                <span>{{mTomatoPackages.name}}</span>
              </div>

              <div class="a1-absolute btn-right xs-hidden sm-hidden ">
                <button ion-button outline class="btn-info violet xs-white" (click)="onClickInfo(1)">Thông tin</button>
              </div>
            </div>

            <div class="vt-4g-package-title xs-white-color a1-relative">
              <span>{{mTomatoPackages.title}}</span>
            </div>

            <div class="xs-show-block sm-hidden md-hidden lg-hidden xl-hidden xs-margin-top">
              <button ion-button outline class="btn-info violet xs-white" (click)="onClickInfo(1)">Thông tin</button>
            </div>

            <div class="package-container" style="padding: 15px 0">
              <viettel-package [mViettelPackage]="mTomatoPackages.items[0]" [color]="'violet-color'"></viettel-package>
            </div>

            <div text-center margin-top margin-bottom>
              <button ion-button outline class="btn-info violet xs-white" (click)="onClickAll(1)">Xem tất cả</button>
            </div>
          </div>
        </ion-col> -->

      </ion-row>
    </ion-grid>
  </div>
</div>
