tomato-package {
  .tomato-package {
    overflow: hidden;
    background-color: #f9ec68;
    background: -webkit-radial-gradient(center, ellipse cover, #fffcdd 0%, #fbf298 34%, #f9ec68 57%, #f9ec68 75%, #f9ec68 100%);
   
    .img-girl {
      max-width: 33.333%;
      right: 10%;
      bottom: -10px;

      img {
        max-width: 80%;
      }
    }

    .tomato-bg-mobile {
      background-image: url("../assets/imgs/viettel-4g-tomato-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  #sixtyPackageID {
    overflow-x: hidden;
    padding: 10px 0;
  }

  .tab-container .tab-item .mtab {
    background: #ca348f;
  }
}
